<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>场馆区域查看</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <script src="../../../static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="../../../static/js/bootstrap.min.js"></script>
    {#todo 取场馆示意图 做个图片热区映射，从数据库Area coordinate取数据#}
</head>
<script>
    function Values(s_id,a_id) {
        {#alert('hhhhh');#}
        $("#stadium_id").val(s_id);
        $("#area_id").val(a_id);
    }
    $(function(){
        $.ajax(
            {
                url:'{{url_for('admin.get_areas',stadium_id=stadiumId)}}',
                type:'get',
                dataType:'json',
                success:function (res) {
                    if(res['ret']==='FAILURE'){
                        alert('请求失败！');
                        return;
                    }
                    if(res['data']['area_status']==='no area') {
                        $('h1').append('<b> 无区域 </b>')
                    }
                    areaData=res['data']['area_list'];
                    let area_table=$('#area_table');
                    $.each(areaData, function (i, item) {
                        let tr;
                        tr='<td>'+item[0]+'</td>'+'<td>'+item[1]+'</td>'+'<td>'+item[2]+ '</td>'+
                            '<td>'+item[3]+'</td>'+'<td>'+item[4]+'</td>'+'<td>'+item[5]+'</td>'+
                            "<td><button class=\"btn btn-primary btn-lg\" data-toggle=\"modal\" data-target=\"#editModel\" onclick='Values(&#39;"
                            +item[0]+"&#39;,&#39;"+item[1]+"&#39;)\'>编辑</button>";
                        area_table.append('<tr>'+tr+'</tr>');
                    });
                }
            }
        )
    }
    );

</script>
<body>
<h1>场馆{{ stadiumId }}区域管理</h1>
<p><a href="{{ url_for('admin.add_area',stadium_id=stadiumId) }}">新增区域</a></p>

<table class="table table-bordered" id='area_table'>
    <tr>
        <th>场馆id</th>
        <th>区域编号</th>
        <th>区域名称</th>
        <th>边界描述</th>
        <th>排数</th>
        <th>列数</th>
        <th>场馆示意图</th>
        <th></th>
    </tr>
 </table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="-webkit-transform: none; transform: none;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					编辑场馆区域
				</h4>
			</div>
			<div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <!--获取到文本的标签-->
{#                    <label for="stadiumId">场馆id</label><br>#}
{#                    <input type='text' id='stadiumId' name='stadiumId' value='' readonly><br>#}
                    {{ form.stadium_id.label }}
                    <!--表示文本输入框-->
                    {{ form.stadium_id(readonly=true) }} <br>
                    {{ form.area_id.label }}
                    <!--表示文本输入框-->
                    {{ form.area_id (readonly=true)}} <br>
                    <!-- 获取form表单中的所有的错误信息-->
                    {% for error in form.area_id.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{ form.area_name.label }}
                    {{ form.area_name }} <br>
                    {% for error in form.area_name.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{ form.x1.label }}
                    {{ form.x1 }} <br>
                    {% for error in form.x1.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{ form.y1.label }}
                    {{ form.y1 }} <br>
                    {% for error in form.y1.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{ form.x2.label }}
                    {{ form.x2 }} <br>
                    {% for error in form.x2.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{ form.y2.label }}
                    {{ form.y2 }} <br>
                    {% for error in form.y2.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{ form.row_count.label }}
                    {{ form.row_count }} <br>
                    {% for error in form.row_count.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{ form.col_count.label }}
                    {{ form.col_count }} <br>
                    {% for error in form.col_count.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="submit" class="btn btn-primary">
					提交更改
				</button>
			</div>
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</body>
</html>